<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atrribute Selectors</title>
    <link rel="stylesheet" href="/css/selector.css">

</head>
<body>
    <h1>Relative Description</h1>
    <p>Hai Pallali</p>
    <!--<h2>
        Absolute Description
    </h2>-->
    <p>Hai ashi</p>

    <ul id="child">
        <li>Cats
            <ul>
                <li>Panthera</li>
                <li>Felis</li>
                <li>Neofelis</li>
            </ul>
        </li>
        <li>Apes
            <ul>
                <li>Pongo</li>
                <li>Pan</li>
                <li>Homo</li>
            </ul>
        </li>
    </ul>

name:<input type="text" name="name">
<a href="https://css-tricks.com/absolute-relative-fixed-positioining-how-do-they-differ/">selectors</a>
</body>
</html>