<html>
<head>
    <title>Fist CSS</title>
    <link rel="stylesheet" href="/css/applycss.css" >





    <style>

    </style>
</head>
<body>
<h1>This is my First Page Css </h1>
<h2>I am Pallala Rajasekhar</h2>
<h3>I Learn HTML and CSS</h3>
<h4>I got call from ashritha</h4>
<p style="color:red">Hai Pallali</p>
<a href="www.facebook.com">Facebook</a>
<a href="www.gmail.com">Gamil</a>
<p>
    Descriptive research is used to describe characteristics of a population or phenomenon being studied. It does not answer questions about how/when/why the characteristics occurred. Rather it addresses the "what" question (what are the characteristics of the population or situation being studied?) [1] The characteristics used to describe the situation or population are usually some kind of categorical scheme also known as descriptive categories. For example, the periodic table categorizes the elements. Scientists use knowledge about the nature of electrons, protons and neutrons to devise this categorical scheme. We now take for granted the periodic table, yet it took descriptive research to devise it. Descriptive research generally precedes explanatory research. For example, over time the periodic table’s description of the elements allowed scientists to explain chemical reaction and make sound prediction when elements were combined.

    Hence, descriptive research cannot describe what caused a situation. Thus, descriptive research cannot be used to as the basis of a causal relationship, where one variable affects another. In other words, descriptive research can be said to have a low requirement for internal validity.

    The description is used for frequencies, averages and other statistical calculations. Often the best approach, prior to writing descriptive research, is to conduct a survey investigation. Qualitative research often has the aim of description and researchers may follow-up with examinations of why the observations exist and what the implications of the findings are.
</p>
</body>
</html>